.b-app-testing {
	position: relative;
	background: #33363a;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			background-image: url('../../images/appTesting/1.png');
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: contain;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	&__bg-fake {
		width: 100%;
	}

	&__type {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		border-bottom: 2px solid #fbb03b;
		margin-right: 1.5rem;
	}

	&__add {
		position: absolute;
		top: 61%;
		left: 56%;
	}
}

@media screen and (max-width: 1024px) {
	.b-app-testing {
		height: 739px;

		&__bg {
			&::before {
				content: '';
				background-image: url('../../images/appTesting/2.png');
				background-repeat: no-repeat;
				background-position: top right;
				background-size: cover;
			}
		}

		&__bg-fake {
			display: none;
		}

		&__add {
			position: absolute;
			top: 61%;
			left: 60%;
		}

		.b-descr_small {
			font-size: 1.8rem;
		}
	}
}


@media screen and (max-width: 940px) {
	.b-app-testing {
		height: 630px;

		&__bg {
			&::before {
				content: '';
				background-image: url('../../images/appTesting/3.png');
				background-repeat: no-repeat;
				background-position: top right;
				background-size: cover;
			}

			&::after {
				content: '';
				background-image: url('../../images/appTesting/33.png');
				background-repeat: no-repeat;
				background-position: top right;
				background-size: cover;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}

		&__bg-fake {
			display: none;
		}

		&__add {
			position: absolute;
			top: 54%;
			left: auto;
			right: 12rem;
			width: 20rem;
		}

		.b-descr_small {
			font-size: 1.8rem;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-app-testing {
		height: 400px;

		&__bg {
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}

		.b-descr_small {
			font-size: 1.4rem;
		}

		&__add {
			right: 5rem;
			bottom: 3rem;
		}
	}
}

@media screen and (max-width: 320px) {
	.b-app-testing {
		height: 610px;

		&__bg {
			&::before {
				display: block;
				background-image: url('../../images/appTesting/4.png');
				background-repeat: no-repeat;
				background-position: top right;
				background-size: contain;
			}
			&::after {
				display: none;
			}
		}

		.b-descr_small {
			font-size: 1.4rem;
		}

		&__add {
			top: auto;
			left: 2rem;
			bottom: 3rem;
		}
	}
}