.b-btn {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	border: 2px solid transparent;
	padding: 1.8rem 2.3rem;
	border-radius: 3.5rem;
	transition: all .4s ease;

	&_green {
		border-color: #a0bc00;
		background: #a0bc00;
	}

	&_red {
		border-color: #c1272d;
		background: #39b54a;
	}

	&_orange {
		border-color: #fa572e;
		background: #fa572e;
	}

	&_contour {
		border-color: #ffff00;
		background: transparent;
	}
}

.no-touch {
	.b-btn {
		cursor: pointer;
		box-shadow: none;

		&:hover {
			box-shadow: 0 13px 30px rgba(0,0, 0, .1);
			
			&.b-btn {
				&_contour {
					border-color: #22b573;
					background: #22b573;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-btn {
		font-size: 1.8rem;
		padding: 1.6rem 2.1rem;
	}
}