*, :after, :before {
	box-sizing: border-box;
	-webkit-touch-callout: none;
}

html {
	font-size: 0.65vw;
}

body {
	font-family: open, arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

.i-page-wrapper {
	position: relative;
	z-index: 1;
}

.i-inner-wrapper {
	display: block;
	width: 70%;
	margin: auto;
}

.i-outer-wrapper {
	width: 94%;
	margin: auto;
}

.i-overflow {
	overflow: hidden;
}

.i-big-pd {
	padding: 6.5vw 0 5.5vw;
}

.i-small-pd {
	padding: 5.2vw 0 4.8vw;
}

.i-dashed {
	position: relative;
	display: inline-block;
	padding: 0 .4rem;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 0;
		height: 90%;
		background: #f3dc51;
		z-index: 0;
		transform: translate(0, -50%);
		transition: all .4s ease;
	}

	&__text {
		position: relative;
		z-index: 1;
	}
}

._is-shown {
	.i-dashed {
		&::before {
			width: 100%;
		}
	}
}

.i-abs-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	padding-top: 6.5vw;
}

.i-btn-box {
	text-align: center;
	margin-top: 6rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 10px;
	}

	.i-inner-wrapper {
		width: 100%;
		padding: 0 4rem;
	}

	.i-big-pd {
		padding: 5rem 0;
	}

	.i-small-pd {
		padding: 6rem 0 5rem;
	}

	.i-abs-content {
		padding-top: 6.8rem;
	}

	.i-btn-box {
		margin-top: 4rem;
		margin-bottom: 1.5rem;
	}
}

@media screen and (max-width: 767px) {
	.i-big-pd {
		padding: 3.2rem 0;
	}

	.i-small-pd {
		padding: 3rem 0 3rem;
	}

	.i-abs-content {
		padding-top: 3.2rem;
	}
}

@media screen and (max-width: 567px) {
	.i-inner-wrapper {
		width: 100%;
		padding: 0 2rem;
	}
}