.b-counters {
	background: #e7e9eb;

	&__list {
		display: flex;
		justify-content: space-between;
		margin: 5rem 3% 0;
		border-top: 1px solid #fff;
	}

	&__item {
		text-align: center;
	}

	&__numbers {
		font-family: poster, sans-serif;
		font-size: 8rem;
		color: #555462;
		margin: 6rem 0 1rem;
	}

	&__descr {
		color: #808080;
		font-size: 2.7rem;
		font-weight: 900;
	}
}

.no-touch {
	.b-counters {
		&__numbers {
			transition: color .4s ease;

			&:hover {
				color: #fdc80a;
			}
		}
	}
}


@media screen and (max-width: 1024px) {
	.b-counters {
		&__list {
			flex-wrap: wrap;
			margin: 3.6rem 3% 0;
		}

		&__numbers {
			font-size: 5.2rem;
		}

		&__descr {
			font-size: 1.8rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-counters {
		&__item {
			width: 45%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-counters {
		&__item {
			width: 100%;
		}

		&__numbers {
			font-size: 3.6rem;
			margin-top: 3rem;
		}

		&__descr {
			font-size: 1.4rem;
		}

		&__list {
			margin-top: 2.6rem;
		}
	}
}