.b-descr {
	&_big {
		font-size: 3.1rem;
		width: 60%;
		margin-top: 2.5vw;
	}

	&_small {
		width: 60%;
		margin-top: .8vw;
		font-size: 2.9rem;
		line-height: 1.6;
	}

	&_dark {
		color: #424242;
	}

	&_white {
		color: #fff;
	}

	&_yellow {
		color: #fcee21;
	}

	&_pdl {
		padding-left: 19%;
	}
}

@media screen and (max-width: 1024px) {
	.b-descr {
		&_big {
			font-size: 2.8rem;
			width: 80%;
			margin-top: 3rem;
		}

		&_small {
			font-size: 2.8rem;
			margin-top: 1.8rem;
			line-height: 1.2;
			width: 80%;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-descr {
		&_pdl {
			padding-left: 5rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-descr {
		&_big {
			font-size: 1.4rem;
			margin-top: 2.2rem;
			line-height: 1.6;
			width: 100%;
		}

		&_small {
			font-size: 1.4rem;
			margin-top: 1.8rem;
			width: 100%;
			line-height: 1.6;
		}

		&_pdl {
			width: 25rem;
			padding-left: 3rem;
		}
	}
}