.b-duo {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__one {
		position: relative;
		width: 50%;
		background-image: url('../../images/duo/1.png');
		background-color: #5ea5b7;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__two {
		position: relative;
		width: 50%;
		background-image: url('../../images/duo/2.png');
		background-color: #ffb626;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__fake-bg {
		width: 100%;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 2rem;
		font-weight: 700;
		color: #fff;
		padding: 4.2vw 6% 4.8vw;

		strong {
			font-weight: 900;
		}
	}

	.b-title_small {
		margin-bottom: 4rem;
	}

	&__imp {
		font-family: poster, sans-serif;
		display: inline-block;
		font-size: 4rem;
		margin-top: 2.3rem;
		padding: .5rem 1.8rem;

		&_red {
			background: #d0305f;
			font-family: open, arial, sans-serif;
			font-weight: 900;
		}

		&_dark {
			background: #4d4d4d;
		}
	}

	&__add {
		position: absolute;
		left: 6%;
		bottom: 0;
	}
}

@media screen and (max-width: 1024px) {
	.b-duo {
		flex-direction: column;

		&__one {
			height: 435px;
			width: 100%;
			background-image: url('../../images/duo/1.png');
			background-color: #5ea5b7;
			background-position: 80% center;
			background-size: auto;
		}

		&__two {
			height: 435px;
			width: 100%;
			background-image: url('../../images/duo/2.png');
			background-color: #ffb626;
			background-repeat: no-repeat;
			background-position: 80% center;
			background-size: auto;
		}

		&__fake-bg {
			display: none;
		}

		&__content {
			font-size: 1.4rem;
		}

		.b-title_small {
			margin-bottom: 2rem;
		}

		&__imp {
			font-size: 2.7rem;
			margin-top: 1rem;
		}

		&__add {
			bottom: 3rem;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-duo {
		&__content {
			padding: 3.2rem 2rem;
		}

		&__one {
			height: 424px;
			background-image: none;
		}

		&__two {
			height: 480px;
			background-image: url('../../images/duo/3.png');
			background-position: center 95%;
			background-size: initial;
		}

		&__imp {
			padding: .5rem 1.5rem;
			font-size: 2.4rem;
		}

		&__add {
			top: 16rem;
		}
	}
}