.b-feedback {
	position: relative;
	background: #5ea6b5;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			background-image: url('../../images/feedback/1.png');
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: contain;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__link {
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		margin-top: 2.4rem;
		margin-bottom: 5.4rem;

		&.b-btn {
			padding: 1rem 2.1rem;
		}
	}

	&__bg-fake {
		width: 100%;
	}

	&__info {
		color: #fff;
		font-size: 2rem;
		width: 26rem;
	}

	&__address {
		font-style: normal;
	}

	&__logo {
		width: 20rem;
		margin: 6rem 0 3rem;
	}

	&__tel {
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 2.4rem 0;
	}

	&__mail {
		display: block;
		color: #fff;
		padding-bottom: 2.4rem;
	}

	&__social {
		margin-top: 3rem;
	}

	&__social-link {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		border: 1px solid #fff;
		background: transparent;
		transition: all .4s ease;
		margin-right: 2.2rem;
		margin-bottom: 2.8rem;

		img {
			display: inline-block;
			width: 100%;
		}

		&:last-child {
			margin-right: 10rem;
		}
	}
}

.no-touch {
	.b-feedback {
		&__social-link {
			&:hover {
				&.b-feedback__social-link {
					&._fb {
						background: #ed1e79;
						border-color: #ed1e79;
					}

					&._vk {
						background: #00a99d;
						border-color: #00a99d;
					}

					&._in {
						background: #fbb03b;
						border-color: #fbb03b;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-feedback {
		height: 80.8rem;

		&__bg {
			&::after {
				content: '';
				background-image: url('../../images/feedback/22.png');
			}
		}

		&__bg-fake {
			display: none;
		}

		&__info {
			font-size: 1.4rem;
			line-height: 1.6;
			width: 20rem;
		}

		&__logo {
			margin-bottom: 2rem;
		}

		&__social-link {
			width: 3.3rem;
			height: 3.3rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&__link {
			&.b-btn {
				font-size: 1.4rem;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-feedback {
		height: 65.8rem;

		&__info {
			line-height: 1.4;
		}

		&__tel {
			padding: 1.6rem 0;
		}

		&__logo {
			width: 16rem;
			margin-bottom: 1rem;
		}

		&__social-link {
			width: 4rem;
			height: 4rem;

			&:last-child {
				margin-right: 1.2rem;
			}
		}

		&__link {
			margin-top: 2rem;
			margin-bottom: 4rem;
		}
	}
}

@media screen and (max-width: 320px) {
	.b-feedback {
		&__mail {
			margin-bottom: 2rem;
		}

		&__link {
			margin-top: 0;
			margin-bottom: 2rem;
		}

		&__social {
			margin-top: 2rem;
		}
	}
}