.b-first-row {
	position: relative;
	background-color: #16abbf;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			background-image: url('../../images/firstRow/2.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&::after {
			content: '';
			background-image: url('../../images/firstRow/22.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	}


	&__bg-fake {
		width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	.b-first-row {
		height: 703px;

		&__bg {
			&::after {
				display: none;
			}

			&::before {
				background-size:cover;
			}
		}

		&__bg-fake {
			display: none;
		}
	}
}

@media screen and (max-width: 660px) {
	.b-first-row {
		height: 330px;

		&__bg {
			&::before {
				background-size: contain;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.b-first-row {
		&__bg {
			&::before {
				background-size: cover;
			}
		}
	}
}
