.b-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #32383a;
	padding: 0 3%;
	height: 12.3rem;

	&__copy {
		color: #fff;
		font-size: 2rem;
	}

	&__logo {
		width: 6.4rem;
	}
}

@media screen and (max-width: 1024px) {
	.b-footer {
		height: 8.2rem;
		padding: 0 4rem;

		&__copy {
			font-size: 1.3rem;
		}

		&__logo {
			width: 4rem;
		}
	}
}


@media screen and (max-width: 567px) {
	.b-footer {
		height: 5rem;
		padding: 0 1.5rem;

		&__copy {
			font-size: 1rem;
		}

		&__logo {
			width: 3rem;
		}
	}
}