.b-form {
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__fields {
		width: 52%;
	}

	&__descr {
		position: relative;
		width: 43%;
	}

	&__input {
		width: 100%;
		font-size: 2rem;
		padding: 1.2rem 1.5rem;
		border-radius: 5px;
		appearance: none;
		box-shadow: none;
		border: 0;

		&::-webkit-input-placeholder {color:#b3b3b3;}
		&::-moz-placeholder          {color:#b3b3b3;}/* Firefox 19+ */
		&:-moz-placeholder           {color:#b3b3b3;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:#b3b3b3;}

		&._is-error {
			&::-webkit-input-placeholder {color:#d4145a;}
			&::-moz-placeholder          {color:#d4145a;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#d4145a;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#d4145a;}
		}
	}

	&__error-msg {
		&._is-active {
			color: #d4145a;
		}
	}

	&__textarea {
		height: 20rem;
	}

	&__input-wrapper {
		margin-bottom: 2.4rem;
	}

	&__conditions {
		font-size: 2rem;
	}

	&__btn-wrapper {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 5.5rem;
		left: 0;
	}

	&__success-msg {
		display: none;
		text-align: center;
		font-size: 2rem;

		.b-popup__title {
			margin-bottom: 1rem;
		}
	}

	&._is-success {
		.b-form {
			&__fields {
				display: none;
			}

			&__descr {
				display: none;
			}

			&__success-msg {
				display: block;

				.b-popup__title {
					display: block;
				}
			}
		}

		.b-popup__title {
			display: none;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-form {
		&__conditions {
			font-size: 1.6rem;
		}

		&__input {
			font-size: 1.6rem;
		}

		&__textarea {
			height: 16rem;
		}

	}
}

@media screen and (max-width: 767px) {
	.b-form {
		&__conditions {

		}

		&__wrapper {
			flex-direction: column;
		}

		&__btn-wrapper {
			width: 100%;
			text-align: center;
			position: relative;
			bottom: auto;
			left: auto;
			margin-top: 3rem;

			.b-btn {
				display: inline-block;
				width: 100%;
			}
		}

		&__fields {
			width: 100%;
		}

		&__descr {
			position: relative;
			width: 100%;
			font-size: 1.4rem;
		}

		&__input {
			font-size: 1.4rem;
		}

		&__input-wrapper {
			margin-bottom: 1.4rem;
		}
	}
}