.b-grid {
	font-size: 0;
	margin-left: -.9%;
	margin-right: -.9%;

	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: .9%;
		margin-left: .9%;
	}

	&__4 {
		width: 23.2%;
		height: 17vw;
	}
}

@media screen and (max-width: 1280px) {
	.b-grid {
		margin-left: -1%;
		margin-right: -1%;

		&__item {
			margin-right: 1%;
			margin-left: 1%;
		}

		&__4 {
			width: 31.2%;
			height: 23vw;
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-grid {
		&__4 {
			height: 26rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-grid {
		margin-left: -1.5%;
		margin-right: -1.5%;

		&__item {
			margin-right: 1.5%;
			margin-left: 1.5%;
		}
		&__4 {
			width: 47%;
			height: 25vw;
		}
	}
}

@media screen and (max-width: 900px) {
	.b-grid {
		&__4 {
			height: 30vw;
		}
	}
}


@media screen and (max-width: 700px) {
	.b-grid {
		margin-left: 0;
		margin-right: 0;

		&__item {
			margin-left: 0;
			margin-right: 0;
		}

		&__4 {
			width: 100%;
			height: 45vw;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-grid {
		&__4 {
			height: 55vw;
		}
	}
}

@media screen and (max-width: 320px) {
	.b-grid {

		&__4 {
			height: 70vw;
		}
	}
}