#hamburger-icon {
	display: none;
	width: 26px;
	height: 16px;
	position: relative;
}
#hamburger-icon .line {
	display: block;
	background: #ecf0f1;
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	border-radius: 4px;
	transition: all 0.4s;
}
#hamburger-icon .line.line-1 {
	top: 0;
}
#hamburger-icon .line.line-2 {
	top: 50%;
}
#hamburger-icon .line.line-3 {
	top: 100%;
}

#hamburger-icon._is-active .line-1 {
	transform: translateY(5px) translateX(0) rotate(45deg);
}
#hamburger-icon._is-active .line-2 {
	opacity: 0;
}
#hamburger-icon._is-active .line-3 {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
}

@media screen and (max-width: 1023px) {
	#hamburger-icon {
		display: block;
	}
}