.b-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	padding: 0 3%;
	z-index: 5;
	position: relative;
	transition: background .4s ease;

	&_type {
		&_static {
			position: absolute;
			top: 0;
			left: 0;

			&._is-active {
				background: #16abbf;
			}
		}

		&_flow {
			position: fixed;
			top: 0;
			left: 0;
			background: #00a99d;
			transform: translate3d(0, -100%, 0);
			transition: transform .4s ease;

			&._is-active {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	&__logo {
		position: relative;
		display: inline-block;
		width: 20rem;
		z-index: 1;

		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-header {
		&__logo {
			width: 18rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-header {
		height: 8rem;
		padding: 0 4rem;
	}

	.touch {
		.b-header {
			position: fixed;

			&_type {
				&_flow {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-header {
		height: 6rem;

		&__logo {
			width: 15.7rem;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-header {
		padding: 0 2rem;

		&__logo {
			width: 10.7rem;
		}
	}
}