.b-honors {
	background: #f7f7f7;
	overflow: hidden;

	&__list {
		font-size: 0;
		padding: 0 3%;
		margin-top: 5vw;
		overflow: hidden;
	}

	&__item {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 2vw;
		overflow: hidden;
	}

	&__descr {
		position: absolute;
		width: 100%;
		height: 100%;
		color: #fff;
		font-size: 1rem;
		padding: 3% 5%;
		background: rgba(66, 66, 66, .79);
	}

	&__title {
		color: #fff;
		font-weight: 900;
		font-size: 3.8rem;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__text {
		display: block;
		font-size: 1.8rem;
		padding-right: 9rem;
		margin-top: .5rem;
		line-height: 1.2;
		max-height: 6.5rem;
		overflow: hidden;
	}

	&__data {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0 5% 5%;
	}

	&__count {
		font-family: poster, sans-serif;
		color: #fdc80a;
		font-size: 4rem;
	}

	&__devices {
		display: block;
		border-bottom: 1px solid #fff;
		font-size: 1.8rem;
		padding-bottom: 1.5rem;
	}

	&__errors {
		font-size: 2rem;
		margin-left: .5rem;
		font-weight: 900;
	}
}

.no-touch {
	.b-honors {
		&__descr {
			transition: transform .4s ease;
			transform: translate3d(0, 100%, 0);
		}

		&__item {
			&:hover {
				.b-honors__descr {
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-honors {
		&__list {
			padding: 0 4rem;
			margin-top: 4rem;
		}

		&__item {
			width: 31.2%;
			margin-bottom: 3vw;
		}
	}
}


@media screen and (max-width: 1023px) {
	.b-honors {
		&__list {
			padding: 0 2rem;
		}

		&__item {
			margin-bottom: 3rem;
		}

		&__title {
			font-size: 2.5rem;
		}

		&__text {
			font-size: 1.5rem;
			max-height: 5.8rem;
		}

		&__count {
			font-size: 2.5rem;
		}

		&__errors {
			font-size: 1.3rem;
		}

		&__devices {
			font-size: 1.5rem;
			padding-bottom: 1rem;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-honors {
		&__list {
			padding: 0 2rem;
		}

		&__item {
			margin-bottom: 3rem;
		}

		&__title {
			font-size: 2.5rem;
		}

		&__text {
			font-size: 1.5rem;
			max-height: 5.6rem;
		}

		&__count {
			font-size: 2.5rem;
		}

		&__errors {
			font-size: 1.3rem;
		}

		&__devices {
			font-size: 1.5rem;
			padding-bottom: 1rem;
		}
	}
}