.b-nav {
	display: flex;
	align-items: center;
	height: 100%;

	&__link {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-family: open, arial, sans-serif;
		font-weight: 700;
		font-size: 1.95rem;
		color: #fff;
		height: 100%;
		text-decoration: none;
		margin-left: 4.5rem;
		overflow: hidden;

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			left: -100%;
			bottom: 0;
			width: 100%;
			height: 1px;
			opacity: 0;
			background: #fff;
			transition: all .3s ease;
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
	}

	&__dj {
		display: none;
	}

	&._is-active {
		height: auto;
	}
}

.no-touch {
	.b-nav {
		&__link {
			&:hover {
				&.b-nav__link::after {
					left: 0;
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-nav {
		&__link {
			font-size: 1.4rem;
			margin-left: 3.2rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.b-nav {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #424242;
		padding: 0 4rem;
		text-align: center;
		text-transform: uppercase;
		height: 0;
		overflow: hidden;
		transition: all .4s ease;

		&__link {
			display: block;
			margin: 0;
			padding: 2.4rem 0;
			border-bottom: 1px solid #666666;

			&:first-child {
				margin-top: 8rem;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.b-nav {
		&__link {
			padding: 2rem 0;
			font-size: 1.6rem;

			&:first-child {
				margin-top: 5rem;
			}
		}
	}
}


@media screen and (max-width: 567px) {
	.b-nav {
		padding: 0 2rem;

		&__link {
			font-size: 1.4rem;

			&:first-child {
				margin-top: 5rem;
			}
		}

		&__dj {
			display: block;
			text-align: center;
			padding: 0 0;

			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}