.b-second-row {
	position: relative;
	background-color: #e7e9eb;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			background-image: url('../../images/secondRow/1.png');
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: contain;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&::after {
			content: '';
			background-image: url('../../images/secondRow/11.png');
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: contain;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__bg-fake {
		width: 100%;
	}
}

@media screen and (max-width: 1023px) {
	.b-second-row {
		height: 703px;

		&__bg {
			&::after {
				display: none;
			}

			&::before {
				background-size: contain;
			}
		}

		&__bg-fake {
			display: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-second-row {
		height: 388px;

		&__bg {
			&::before {
				background-size: cover;
			}
		}
	}
}

@media screen and (max-width: 567px) {
	.b-second-row {
		&__bg {
			&::before {
				background-size: cover;
			}
		}
	}
}
