.b-test-kinds {
	background: #d0305f;

	&__items {
		display: flex;
		justify-content: space-between;
		padding: 1% 10%;
		margin-top: 2rem;
	}

	&__item {
		width: 13%;
		color: #fff;
	}

	&__icon {
		width: 100%;
	}

	&__text {
		margin: 0;
		border-top: 2px solid #fff;
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		padding: 1.9rem 0;
		line-height: 1.2;
	}
}

.no-touch {
	.b-test-kinds {
		&__icon {
			transform: translate3d(0, 0, 0) scale(1);
			transition: transform .4s ease;

			&:hover {
				transform: translate3d(0, 0, 0) scale(1.1);
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.b-test-kinds {
		&__items {
			padding: 0 4rem;
		}

		&__item {
			width: 13%;
		}

		&__text {
			font-size: 1.5rem;
			padding: 1.2rem 0;
		}

		&__icon {
			margin-bottom: -.9rem;
		}
	}
}

@media screen and (max-width: 800px) {
	.b-test-kinds {
		&__text {
			font-size: 1.2rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-test-kinds {
		&__items {
			flex-wrap: wrap;
		}

		&__item {
			width: 22%;
		}
	}
}

@media screen and (max-width: 567px) {
	.b-test-kinds {
		&__items {
			padding: 0 2rem;
			margin-top: 4.3rem;
		}

		&__item {
			width: 40%;
		}

		&__icon {
			width: 90%;
			margin: 0 auto -.9rem;
			display: block;
		}

		&__text {
			font-size: 1.2rem;
		}
	}
}