.b-title {
	&_small {
		font-family: poster, sans-serif;
		font-weight: 400;
		font-size: 4rem;
		color: #424242;
		margin: 0;
		line-height: 1.2;
		letter-spacing: .3rem;
	}

	&_big {
		font-family: poster, sans-serif;
		font-weight: 400;
		font-size: 4.3vw;
		overflow: hidden;
		margin: 0;
		letter-spacing: .2rem;
		line-height: 1.2;
	}

	&_white {
		color: #fff;
	}

	&_dark {
		color: #424242;
	}

	&__descr {
		font-weight: 900;
		font-size: 1.55rem;
		margin-bottom: .4vw;
		letter-spacing: .2rem;
		text-transform: uppercase;

		&_red {
			color: #ba3034;
		}

		&_yellow {
			color: #fcee21;
		}
	}
}


@media screen and (max-width: 1024px) {
	.b-title {
		&_big {
			font-size: 6rem;

			br {
				display: none;
			}
		}

		&_small {
			font-size: 2.7rem;
		}

		&__descr {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.b-title {
		&_big {
			font-size: 2.4rem;
		}

		&_small {
			font-size: 2.4rem;
		}

		&__descr {
			font-size: 1.1rem;
		}
	}
}